<!-- Footer -->
<footer id="footer">
    <div class="inner">
	<h2><%= indextxt.t21 %></h2>
	<ul class="actions">
	    <li><span class="icon fa-phone"></span> <a href="#"><%= indextxt.t22 %></a></li>
	    <li><span class="icon fa-envelope"></span> <a href="#"><%= indextxt.t23 %></a></li>
	    <li><span class="icon fa-map-marker"></span> <%= indextxt.t24 %></li>
	</ul>
    </div>
    <div class="copyright">
	&copy; <%= indextxt.t25 %> 2020. 
    </div>
</footer>

