<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @livingitem.name %>
</p>

<p>
  <strong>Safety Inventory:</strong>
  <%= @livingitem.safety %>  <%= @livingitem.unit %> per person per month 
</p>

<p>
  <strong>Calorie:</strong>
  <%= @livingitem.cal rescue nil %>kcal per <%= @livingitem.unit %> 
</p>


<p>
  <strong>Description:</strong>
  <%= @livingitem.des %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @livingitem.remark %>
</p>

<%= link_to 'Edit', edit_livingitem_path(@livingitem) %> |
<%= link_to 'Back', livingitems_path %>
