<%= form_with(model: covid19case, local: true) do |form| %>
  <% if covid19case.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(covid19case.errors.count, "error") %> prohibited this covid19case from being saved:</h2>

      <ul>
        <% covid19case.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="table-wrapper">
    <table>
      <tr>
        <td><%= form.label "Name" %></td>
        <td><%= form.text_field :name %></td>
      </tr>

      <tr>
        <td><%= form.label "Age" %></td>

        <td><%= form.text_field :age %></td>

      </tr>

      <tr>
        <td><%= form.label "Gender" %></td>

        <td><%= form.select :sex, [['Please select gender', nil], 'Male', 'Female'] %></td>

      </tr>

      <tr>
        <td><%= form.label "Nationality" %></td>

        <td><%= form.text_field :nationality %></td>

      </tr>

      <tr>
        <td><%= form.label "Quarantine Province" %></td>

        <td><%= form.select :qua_province, options_from_collection_for_select(Province.where(admlevel: "Province").all.order(:name), :name, :name, form.object.qua_province), prompt: "- Please Select Province -"%>
        </td>


      </tr>

      <tr>
        <td><%= form.label "Quarantine District" %></td>

        <td><%= form.select :qua_district, options_from_collection_for_select(Province.where(admlevel: "District").all.order(:name), :name, :name, form.object.qua_district), prompt: "- Please Select District -"%>
        </td>


      </tr>


      <tr>
        <td><%= form.label :notification_date %></td>

        <td><%= form.date_select :notification_date %></td>

      </tr>

      <tr>
        <td><%= form.label :announce_date %></td>

        <td><%= form.date_select :announce_date %></td>

      </tr>

      <tr>
        <td><%= form.label :onset_province %></td>

        <td><%= form.select :onset_province, options_from_collection_for_select(Province.where(admlevel: "Province").all.order(:name), :name, :name, form.object.onset_province), prompt: "- Please Select Province -"%>

      </tr>

      <tr>
        <td><%= form.label :onset_district %></td>
        <td><%= form.select :onset_district, options_from_collection_for_select(Province.where(admlevel: "District").all.order(:name), :name, :name, form.object.onset_district), prompt: "- Please Select District -"%>
        </td>
      </tr>

      <tr>
        <td><%= form.label :status %></td>
        <td><%= form.select :status, [['Please select status', nil], 'Hospitalized', 'Recovered', 'Dead'] %></td>
      </tr>

      <tr>
        <td><%= form.label "ID / Passport" %></td>

        <td><%= form.text_field :id_pass %></td>

      </tr>

      <tr>
        <td><%= form.label :remark1 %></td>

        <td><%= form.text_field :remark1 %></td>

      </tr>

      <tr>
        <td><%= form.label :remark2 %></td>

        <td><%= form.text_field :remark2 %></td>

      </tr>
    </table>
  </div>

  <div class="actions">
    <%= form.submit "Submit COVID-19 case" %>
  </div>

<% end %>
