<%= form_with(model: indexpage, local: true) do |form| %>
  <% if indexpage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(indexpage.errors.count, "error") %> prohibited this indexpage from being saved:</h2>

      <ul>
        <% indexpage.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :t01 %>
    <%= form.text_field :t01 %>
  </div>

  <div class="field">
    <%= form.label :t02 %>
    <%= form.text_field :t02 %>
  </div>

  <div class="field">
    <%= form.label :t03 %>
    <%= form.text_field :t03 %>
  </div>

  <div class="field">
    <%= form.label :t04 %>
    <%= form.text_field :t04 %>
  </div>

  <div class="field">
    <%= form.label :t05 %>
    <%= form.text_field :t05 %>
  </div>

  <div class="field">
    <%= form.label :t06 %>
    <%= form.text_field :t06 %>
  </div>

  <div class="field">
    <%= form.label :t07 %>
    <%= form.text_field :t07 %>
  </div>

  <div class="field">
    <%= form.label :t08 %>
    <%= form.text_field :t08 %>
  </div>

  <div class="field">
    <%= form.label :t09 %>
    <%= form.text_field :t09 %>
  </div>

  <div class="field">
    <%= form.label :t10 %>
    <%= form.text_field :t10 %>
  </div>

  <div class="field">
    <%= form.label :t11 %>
    <%= form.text_field :t11 %>
  </div>

  <div class="field">
    <%= form.label :t12 %>
    <%= form.text_field :t12 %>
  </div>

  <div class="field">
    <%= form.label :t13 %>
    <%= form.text_field :t13 %>
  </div>

  <div class="field">
    <%= form.label :t14 %>
    <%= form.text_field :t14 %>
  </div>

  <div class="field">
    <%= form.label :t15 %>
    <%= form.text_field :t15 %>
  </div>

  <div class="field">
    <%= form.label :t16 %>
    <%= form.text_field :t16 %>
  </div>

  <div class="field">
    <%= form.label :t17 %>
    <%= form.text_field :t17 %>
  </div>

  <div class="field">
    <%= form.label :t18 %>
    <%= form.text_field :t18 %>
  </div>

  <div class="field">
    <%= form.label :t19 %>
    <%= form.text_field :t19 %>
  </div>

  <div class="field">
    <%= form.label :t20 %>
    <%= form.text_field :t20 %>
  </div>

  <div class="field">
    <%= form.label :t21 %>
    <%= form.text_field :t21 %>
  </div>

  <div class="field">
    <%= form.label :t22 %>
    <%= form.text_field :t22 %>
  </div>

  <div class="field">
    <%= form.label :t23 %>
    <%= form.text_field :t23 %>
  </div>

  <div class="field">
    <%= form.label :t24 %>
    <%= form.text_field :t24 %>
  </div>

  <div class="field">
    <%= form.label :t25 %>
    <%= form.text_field :t25 %>
  </div>

  <div class="field">
    <%= form.label :t26 %>
    <%= form.text_field :t26 %>
  </div>

  <div class="field">
    <%= form.label :t27 %>
    <%= form.text_field :t27 %>
  </div>

  <div class="field">
    <%= form.label :t28 %>
    <%= form.text_field :t28 %>
  </div>

  <div class="field">
    <%= form.label :t29 %>
    <%= form.text_field :t29 %>
  </div>

  <div class="field">
    <%= form.label :t30 %>
    <%= form.text_field :t30 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
