<p id="notice"><%= notice %></p>

<p>
  <strong>T01:</strong>
  <%= @indexpage.t01 %>
</p>

<p>
  <strong>T02:</strong>
  <%= @indexpage.t02 %>
</p>

<p>
  <strong>T03:</strong>
  <%= @indexpage.t03 %>
</p>

<p>
  <strong>T04:</strong>
  <%= @indexpage.t04 %>
</p>

<p>
  <strong>T05:</strong>
  <%= @indexpage.t05 %>
</p>

<p>
  <strong>T06:</strong>
  <%= @indexpage.t06 %>
</p>

<p>
  <strong>T07:</strong>
  <%= @indexpage.t07 %>
</p>

<p>
  <strong>T08:</strong>
  <%= @indexpage.t08 %>
</p>

<p>
  <strong>T09:</strong>
  <%= @indexpage.t09 %>
</p>

<p>
  <strong>T10:</strong>
  <%= @indexpage.t10 %>
</p>

<p>
  <strong>T11:</strong>
  <%= @indexpage.t11 %>
</p>

<p>
  <strong>T12:</strong>
  <%= @indexpage.t12 %>
</p>

<p>
  <strong>T13:</strong>
  <%= @indexpage.t13 %>
</p>

<p>
  <strong>T14:</strong>
  <%= @indexpage.t14 %>
</p>

<p>
  <strong>T15:</strong>
  <%= @indexpage.t15 %>
</p>

<p>
  <strong>T16:</strong>
  <%= @indexpage.t16 %>
</p>

<p>
  <strong>T17:</strong>
  <%= @indexpage.t17 %>
</p>

<p>
  <strong>T18:</strong>
  <%= @indexpage.t18 %>
</p>

<p>
  <strong>T19:</strong>
  <%= @indexpage.t19 %>
</p>

<p>
  <strong>T20:</strong>
  <%= @indexpage.t20 %>
</p>

<p>
  <strong>T21:</strong>
  <%= @indexpage.t21 %>
</p>

<p>
  <strong>T22:</strong>
  <%= @indexpage.t22 %>
</p>

<p>
  <strong>T23:</strong>
  <%= @indexpage.t23 %>
</p>

<p>
  <strong>T24:</strong>
  <%= @indexpage.t24 %>
</p>

<p>
  <strong>T25:</strong>
  <%= @indexpage.t25 %>
</p>

<p>
  <strong>T26:</strong>
  <%= @indexpage.t26 %>
</p>

<p>
  <strong>T27:</strong>
  <%= @indexpage.t27 %>
</p>

<p>
  <strong>T28:</strong>
  <%= @indexpage.t28 %>
</p>

<p>
  <strong>T29:</strong>
  <%= @indexpage.t29 %>
</p>

<p>
  <strong>T30:</strong>
  <%= @indexpage.t30 %>
</p>

<%= link_to 'Edit', edit_indexpage_path(@indexpage) %> |
<%= link_to 'Back', indexpages_path %>
