<%= form_with(model: medicalsupply, local: true) do |form| %>
    <% if medicalsupply.errors.any? %>
	<div id="error_explanation">
	    <h2><%= pluralize(medicalsupply.errors.count, "error") %> prohibited this medicalsupply from being saved:</h2>

	    <ul>
		<% medicalsupply.errors.full_messages.each do |message| %>
		    <li><%= message %></li>
		<% end %>
	    </ul>
	</div>
    <% end %>

    <div class="table-wrapper">

	<table>

	    <tr>
		<td>
		    <%= form.label :date %>
		</td>
		<td>
		    <%= form.date_select :date %>
		</td>
	    </tr>

	    <tr>
		<td>
		    <%= form.label :item %>
		</td>
		<td>
                  <%= form.select :item, options_from_collection_for_select(Medicalitem.all.order(:name), :name, :item_unit, form.object.item ), prompt: "- Please Select Item -" %>
		</td>
	    </tr>

	    <tr>
		<td>
		    <%= form.label :quantity %>
		</td>
		<td>
		    <%= form.text_field :quantity %>
		</td>
	    </tr>

	    <tr>
		<td>
		    <%= form.label :province %>
		</td>
		<td>
		    <%= form.select :province, options_from_collection_for_select(Province.where( admlevel: "Province").all.order(:name), :name, :name, form.object.province), prompt: "- Please Select Province -"%>
		</td>
	    </tr>

	    <tr>
		<td>
		    <%= form.label :district %>
		</td>
		<td>
		    <%= form.select :district, options_from_collection_for_select(Province.where( admlevel: "District").all.order(:name), :name, :name, form.object.province), prompt: "- Please Select Province -"%>
		</td>
	    </tr>

	    <tr>
		<td>
		    <%= form.label :remark %>
		</td>
		<td>
		    <%= form.text_area :remark %>
		</td>
	    </tr>

	</table>

    </div>

    <div class="actions">
	<%= form.submit "Submit" %>
    </div>

<% end %>
