<%= form_with(model: medicalitem, local: true) do |form| %>
  <% if medicalitem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(medicalitem.errors.count, "error") %> prohibited this medicalitem from being saved:</h2>

      <ul>
        <% medicalitem.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>


  <p/>

  <div class="field">
    <%= form.label :unit %>
    <%= form.select :unit, options_from_collection_for_select(Unit.all.order(:name), :name, :name, form.object.unit), prompt: "- Please Select Unit - "%>
  </div>

  <p/>

  <div class="field">
    <%= form.label "Safety Inventory" %>
    <%= form.text_field :safety %>  unit per person per month 
  </div>

  <p/>

  <div class="field">
    <%= form.label :des %>
    <%= form.text_area :des %>
  </div>

  <p/>

  <div class="field">
    <%= form.label :remark %>
    <%= form.text_area :remark %>
  </div>

  <p/>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
