<p id="notice"><%= notice %></p>

<h1>Vaccine Registration Records</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Gender</th>
      <th>Vaccine</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vaccineregs.each do |vaccinereg| %>
      <tr>
        <td><%= vaccinereg.id %></td>
        <td><%= vaccinereg.firstname %></td>
        <td><%= vaccinereg.lastname %></td>
        <td><%= vaccinereg.gender %></td>
        <td><%= vaccinereg.vaccinetype %></td>
        <td><%= link_to 'Show', vaccinereg %></td>
        <td><%= link_to 'Edit', edit_vaccinereg_path(vaccinereg) %></td>
        <td><%= link_to 'Del', vaccinereg, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vaccinereg', new_vaccinereg_path %>
