<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @vaccinereg.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @vaccinereg.lastname %>
</p>

<p>
  <strong>Idpass:</strong>
  <%= @vaccinereg.idpass %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @vaccinereg.birthday %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @vaccinereg.gender %>
</p>

<p>
  <strong>Email:</strong>
  <%= @vaccinereg.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @vaccinereg.phone %>
</p>

<p>
  <strong>Country:</strong>
  <%= @vaccinereg.country %>
</p>

<p>
  <strong>Province:</strong>
  <%= @vaccinereg.province %>
</p>

<p>
  <strong>City:</strong>
  <%= @vaccinereg.city %>
</p>

<p>
  <strong>Address:</strong>
  <%= @vaccinereg.address %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @vaccinereg.zipcode %>
</p>

<p>
  <strong>Insurancecompany:</strong>
  <%= @vaccinereg.insurancecompany %>
</p>

<p>
  <strong>Insuranceid:</strong>
  <%= @vaccinereg.insuranceid %>
</p>

<p>
  <strong>Healthcondition:</strong>
  <%= @vaccinereg.healthcondition %>
</p>

<p>
  <strong>Currentmedication:</strong>
  <%= @vaccinereg.currentmedication %>
</p>

<p>
  <strong>Allergies:</strong>
  <%= @vaccinereg.allergies %>
</p>

<p>
  <strong>Covidhistory:</strong>
  <%= @vaccinereg.covidhistory %>
</p>

<p>
  <strong>Coviddetail:</strong>
  <%= @vaccinereg.coviddetail %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @vaccinereg.remark %>
</p>

<p>
  <strong>Declare:</strong>
  <%= @vaccinereg.declare %>
</p>

<%= link_to 'Edit', edit_vaccinereg_path(@vaccinereg) %> |
<%= link_to 'Back', vaccineregs_path %>
