<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_province_path(@province) %> |
<%= link_to 'Back', provinces_path %>

  <p/>
<p>
  <strong>Admin Division:</strong>
  <%= @province.admlevel %>
</p>


<p>
  <strong>Name:</strong>
  <%= @province.name %>
</p>

<p>
  <strong>Population:</strong>
  <%= @province.population %>
</p>

<p>
  <strong>Density:</strong>
  <%= @province.density %>
</p>

<p>
  <strong>Polygon:</strong>
  <%= @province.polygon %>
</p>

<p>
  <strong>Polygon Type:</strong>
  <%= @province.remark %>
</p>

<%= link_to 'Edit', edit_province_path(@province) %> |
<%= link_to 'Back', provinces_path %>
