<%= form_with(model: livingsupply, local: true) do |form| %>
    <% if livingsupply.errors.any? %>
	<div id="error_explanation">
	    <h2><%= pluralize(livingsupply.errors.count, "error") %> prohibited this livingsupply from being saved:</h2>

	    <ul>
		<% livingsupply.errors.full_messages.each do |message| %>
		    <li><%= message %></li>
		<% end %>
	    </ul>
	</div>
    <% end %>

    <div class="table-wrapper">
	<table>

	    <tr>
		<td>
		    <%= form.label :date %>
		</td>
		<td>
		    <%= form.datetime_select :date, required: true %>
		</td>
	    </tr>

	    <tr>
		<td>
                  Item:
		</td>
		<td>
                  <%= form.select :item, options_from_collection_for_select(Livingitem.all.order(:name), :name, :item_unit, form.object.item ), prompt: "- Please Select Item -", required: true %>
		</td>
	    </tr>

	    <tr>
		<td>
                  Quantity:
		</td>
		<td>
		    <%= form.text_field :quantity, required: true  %>
		</td>
	    </tr>

	    <tr>
		<td>
                  Province:
		</td>
		<td>
		    <%= form.select :province, options_from_collection_for_select(Province.where( admlevel: "Province").all.order(:name), :name, :name, form.object.province), prompt: "- Please Select Province -", required: true %>
		</td>
	    </tr>

	    <tr>
		<td>
                  District:
		</td>
		<td>
		    <%= form.select :district, options_from_collection_for_select(Province.where(admlevel: "District").all.order(:name), :name, :name, form.object.district), prompt: "- Please Select District -", required: true %>
		</td>
	    </tr>

	    <tr>
		<td>
		    <%= form.label :remark %>
		</td>
		<td>
		    <%= form.text_area :remark %>
		</td>
	    </tr>

	</table>

    </div>

<div class="actions">
    <%= form.submit "Submit" %>
</div>

<% end %>
